In [ ]:
#Exercise 1: Calculate the multiplication and sum of two numbers

In [1]:
a=int(input("Enter first number" ))
b=int(input("Enter second number"))
print(a+b)

Enter first number 5
Enter second number 6

11

In [ ]:
#Exercise 2: Print the sum of the current number and the previous number

In [6]:
c=0;
for i in range (1,20):
    print(f"sum of current number #{i} and previous number {i-1}")
    c=i+i-1
    print(c)

sum of current number1 and previous number 0
1
sum of current number2 and previous number 1
3
sum of current number3 and previous number 2
5
sum of current number4 and previous number 3
7
sum of current number5 and previous number 4
9
sum of current number6 and previous number 5
11
sum of current number7 and previous number 6
13
sum of current number8 and previous number 7
15
sum of current number9 and previous number 8
17
sum of current number10 and previous number 9
19
sum of current number11 and previous number 10
21
sum of current number12 and previous number 11
23
sum of current number13 and previous number 12
25
sum of current number14 and previous number 13
27
sum of current number15 and previous number 14
29
sum of current number16 and previous number 15
31
sum of current number17 and previous number 16
33
sum of current number18 and previous number 17
35
sum of current number19 and previous number 18
37

In [ ]:
#Exercise 3: Print characters from a string that are present at an even index number

In [11]:
string = input("Enter a string")
k=0

for i in string:
    if k%2==0:
        print(i)
    k+=1;
    
#slicing
print(string[::2])

Enter a string manishgoswamikarhi

m
n
s
g
s
a
i
a
h
mnsgsaiah

In [ ]:
#Exercise 4: Remove first n characters from a string

In [13]:
string =input("Enter String")
n=int(input("Give the first n character"))
print(string[n:])

Enter String Manishgoswamikarhi
Give the first n character 4

shgoswamikarhi

In [ ]:
#Exercise 5: Check if the first and last number of a list is the same

In [20]:
def lstEquals(list:lst)-> bool:
    '''This funsction will check the first and last element of a list'''
    if lst[0]==lst[len(lst)-1]:
        return True
    else:
        return False

In [21]:
lst=list(map(int,input().split(" ")))
print(lstEquals(lst))

 1 2 3 4 5 6 7 8 9

False

In [22]:
lst=list(map(int,input().split(" ")))
print(lstEquals(lst))

 1 2 3 4 5 6 1

True

In [ ]:
#Exercise 6: Display numbers divisible by 5 from a list

In [24]:
lst=list(map(int,input().split()))
for i in lst:
    if(i%5==0):
        print(i)

  1 2 3 4 5 10 15 20

5
10
15
20

In [ ]:
#Exercise 7: Return the count of a given substring from a string

In [26]:
string=input("Enter your string")
sub=input("Enter sub string")
print(string.count(sub))

Enter your string manishgoswamimanu
Enter sub string man

2

In [ ]:
'''Exercise 8: Print the following pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5'''

In [28]:
num=int(input())
for i in range(1,num+1):
    s=str(i)+" "
    print(s*i)

 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Exercise 9: Check Palindrome Number

In [29]:
num=input()
num1=num[::-1]
if num==num1:
    print("True")
else:
    print("False")

 121

True

In [ ]:
"""Given a two list of numbers, write a program to create a new list such that the new list should contain
odd numbers from the first list and even numbers from the second list."""

In [36]:
lst1=[1,2,3,4,5,6,7,8,9,0]
lst2=[1,2,3,4,5,6,7,8,9,0]
lst=[]
for i in lst1:
    if i%2==0:
        lst.append(i)
for i in lst2:
    if i%2  !=0:
        lst.append(i)
print(lst)
#filter approch
lst3=list(filter( lambda x:x%2==0 ,lst1))+list(filter( lambda x:x%2!=0 ,lst2))
print(lst3)

[2, 4, 6, 8, 0, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 0, 1, 3, 5, 7, 9]

In [ ]:
#Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [37]:
n=int(input())
print(n)
print(" ".join(str(n)[::-1]))

 12345

12345
5 4 3 2 1

In [ ]:
"""Exercise 12: Calculate income tax for the given income by adhering to the below rules
For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000"""

In [42]:
income=int(input())
tax=0
if income<10000:
    tax=0
elif 10000<income<20000:
    tax=10000*0.1
else:
    tax=(income-20000)*.2+10000*0.1
print(tax)

 45000

6000.0

In [ ]:
#Exercise 13: Print multiplication table form 1 to 10

In [44]:
for i in range(1,11):
    lst = [i*lst for lst in range(1,11)]
    print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [45]:
#Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
"""
* * * * *
* * * *
* * *
* *
*"""

SyntaxError: incomplete input (2630766978.py, line 2)

In [50]:
n=int(input())
for i in range(n,0,-1):
    s="* "
    print(s*i)

 5

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [52]:
def exponent(base, exp)->int:
    return base**exp

print(exponent(int(input("Enter base")),int(input("Enter exp"))))

Enter base 10
Enter exp 2

100

In [ ]:
#ref https://pynative.com/python-basic-exercise-for-beginners/